{% block body %}
    {% set panier = app.request.session.get('detailsPanier') %}
    {% set total = app.request.session.get('total') %}
    <div class="modal fade{% if app.request.session.get('modal') %}{% if panier %} auto-show{% else %}{% endif %}{% endif %}" id="panierModal" tabindex="-1" aria-labelledby="panierModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content" style="background-color: #D03A3B;">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="panierModalLabel" style="color: #ffffff">{% if panier is not empty %}Panier{% else %}{% endif %}</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if panier is not empty %}
                    <div class="modal-body" style="overflow-x:auto;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produit</th>
                                    <th>Prix</th>
                                    <th>Quantité</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for details in panier %}
                                    <tr>
                                        <td><img src="{{asset ('img/affiche/' ~ details.product.image)}}" class="img-fluid rounded" alt="affiche {{details.product.titre}}" style="width: 4rem; height: 5rem;"></td>
                                        <td>{{details.product.getPrixTtc}}€</td>
                                        <td>{{details.quantity}}</td>
                                        <td>{{details.quantity * details.product.getPrixTtc}}€</td>
                                        <td><a href="{{path ('remove_product', {'id':details.product.id})}}"><img src="{{asset ('img/icon/trash-can-regular.svg')}}" title="supprimer" alt="supprimer" style="margin-left: 11px;"></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3"><strong>Total :</strong></td>
                                    <td>{{total}}€</td>
                                    <td><button type="button" class="btn"><a href="{{path ('drop_panier')}}" id="a-link-panier-drop"><img src="{{asset ('img/icon/trash-can-regular.svg')}}" title="supprimer" alt="supprimer"></a></button></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" id="btn-panier-commande"><a href="{{path ('app_commande')}}" id="btn-panier-commande">Commander</a></button>
                    </div>
                    {% else %}
                        <div class="d-flex justify-content-center my-5">
                            <h2 style="color: #ffffff; font-family: inherit;">Le panier est vide !</h2><img src="{{asset ('img/icon/face-frown-solid.svg')}}" alt="dépense ton argent" style="width: 30px; height: 30px; margin-top: 4px; margin-left: 10px;">
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            {% if app.request.session.get('modal') %}
                if ($('#panierModal').hasClass('auto-show')) {
                    $('#panierModal').modal('show');
                    {% if panier is empty %}
                        {{ app.request.session.remove('modal') }}
                    {% endif %}
                    $('#panierModal').on('hide.bs.modal', function (event) {
                        {{ app.request.session.remove('modal') }}
                    });
                }
            {% endif %}
        });
    </script>
{% endblock %}
