{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_errors(registrationForm) }}
    <div class="d-flex justify-content-center">
        <div class="card my-5 mx-5" id="card-register" style="width: 30rem;">
            <div class="card-body">
                <p class="card-text">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Mot de passe'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn" id="submit_register">Inscription</button>
                    {{ form_end(registrationForm) }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
