{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    {% if detailsPro %}
        <div class="d-flex row justify-content-center">
            {% for produit in detailsPro %}
                <div class="card my-5 mx-3" id="card-pro" style="width: 18rem;">
                    <img src="{{asset ('img/affiche/' ~ produit.image)}}" class="card-img-top img-fluid" alt="affiche {{produit.titre}}">
                    <div class="card-body">
                        <h5 class="card-title">{{produit.titre}}</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{produit.duree}}</li>
                        <li class="list-group-item">{{produit.date_sortie|date('d-m-Y')}}</li>
                        <li class="list-group-item">{{produit.prix_ttc}} €</li>
                    </ul>
                    <div class="card-body">
                        <img src="{{asset ('img/icon/logo-dvd.png')}}" alt="logo dvd" title="comme on est encore en 2005" style="width: 25px; height: 25px;">
                        <a href="{{path ('add_product', {'id':produit.id})}}" style="margin-left: 8rem;" class="card-link"><img src="{{asset ('img/icon/cart-shopping-solid-black.svg')}}" alt="panier"></a>
                    </div>
                </div>
                <div class="card my-5 mx-3" id="card-syno" style="width: 30rem;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Synopsis</h6>
                        <p class="card-text">{{produit.synopsis}}</p>
                    </div>
                </div>
            {% endfor %}
            <div class="card my-5 mx-3" style="width: 18rem;">
                <div class="card-body">
                    {% for produit in detailsPro %}
                        <h6 class="card-subtitle mb-2 text-body-secondary">Genre</h6>
                        <p class="card-text">{{produit.genre}}</p>
                    {% endfor %}
                    <hr>
                    {% for cast in detailsCast %}
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{cast.role}}</h6>
                        <p class="card-text">{{cast.cast}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% elseif produitG is not empty %}
        <div class="container-fluid">
            <div class="d-flex justify-content-center justify-content-evenly">
                <div>{{ knp_pagination_sortable(produitG, 'A-Z', 'p.titre', {}, {'direction': 'asc'})}}</div>
                <div>{{ knp_pagination_sortable(produitG, 'Z-A', 'p.titre', {}, {'direction': 'desc'})}}</div>
                <div>{{ knp_pagination_sortable(produitG, 'Populaire DESC', 'qte_vendu', {}, {'direction': 'desc'})}}</div>
                <div>{{ knp_pagination_sortable(produitG, 'Populaire ASC', 'qte_vendu', {}, {'direction': 'asc'})}}</div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center" style="margin-top: 3rem;">
            <h2 style="color: #ffffff; font-family: Segoe UI;">{% for produit in produitG %}{% if loop.first %}{{ produit.genre }}{% endif %}{% endfor %}</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center my-5">
            {% for produit in produitG %}
                <div class="card my-3 mx-3" id="card-pro" style="max-width: 430px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{{path ('app_produit', {'film':produit.id})}}"><img src="{{asset ('img/affiche/' ~ produit.image)}}" class="img-fluid rounded-start" alt="affiche {{produit.titre}}"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="card-pro-title"><a href="{{path ('app_produit', {'film':produit.id})}}" class="a-link-pro">{{produit.titre}}</a></h5>
                                <p class="card-text" id="card-pro-text">{{produit.date_sortie|date('d-m-Y')}}</p>
                                <p class="card-text">{{produit.prix_ttc}} €</p>
                                <p class="card-text">
                                    <img src="{{asset ('img/icon/logo-dvd.png')}}" alt="logo dvd" title="comme on est encore en 2005" style="width: 25px; height: 25px;">
                                    <a href="{{path ('add_product', {'id':produit.id})}}" style="margin-left: 8rem;"><img src="{{asset ('img/icon/cart-shopping-solid-black.svg')}}" alt="panier"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(produitG) }}
        </div>
    {% elseif produitC is not empty %}
        <div class="d-flex justify-content-center" style="margin-top: 3rem;">
            <h2 style="color: #ffffff; font-family: Segoe UI;">{% for produit in produitC %}{% if loop.first %}{{ produit.cast }}{% endif %}{% endfor %}</h2>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 1.5rem;">
            <h4 style="color: #ffffff; font-family: Segoe UI;">{% for produit in produitC %}{% if loop.first %}{{ produit.role }}{% endif %}{% endfor %}</h4>
        </div>
        <div class="d-flex flex-wrap justify-content-center my-5">
            {% for produit in produitC %}
                <div class="card my-4 mx-3" id="card-pro-g" style="max-width: 430px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{{path ('app_produit', {'film':produit.id})}}"><img src="{{asset ('img/affiche/' ~ produit.image)}}" class="img-fluid rounded-start" alt="affiche {{produit.titre}}"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="card-pro-title"><a href="{{path ('app_produit', {'film':produit.id})}}" class="a-link-pro">{{produit.titre}}</a></h5>
                                <p class="card-text" id="card-pro-text">{{produit.date_sortie|date('d-m-Y')}}</p>
                                <p class="card-text">{{produit.prix_ttc}} €</p>
                                <p class="card-text">
                                    <img src="{{asset ('img/icon/logo-dvd.png')}}" alt="logo dvd" title="comme on est encore en 2005" style="width: 25px; height: 25px;">
                                    <a href="{{path ('add_product', {'id':produit.id})}}" style="margin-left: 8rem;"><img src="{{asset ('img/icon/cart-shopping-solid-black.svg')}}" alt="panier"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="d-flex justify-content-center justify-content-evenly">
                <div>{{ knp_pagination_sortable(produit, 'A-Z', 'p.titre', {}, {'direction': 'asc'})}}</div>
                <div>{{ knp_pagination_sortable(produit, 'Z-A', 'p.titre', {}, {'direction': 'desc'})}}</div>
                <div>{{ knp_pagination_sortable(produit, 'Populaire DESC', 'qte_vendu', {}, {'direction': 'desc'})}}</div>
                <div>{{ knp_pagination_sortable(produit, 'Populaire ASC', 'qte_vendu', {}, {'direction': 'asc'})}}</div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center my-5">
            {% for pro in produit %}
                <div class="card my-3 mx-3" id="card-pro" style="max-width: 430px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{{path ('app_produit', {'film':pro.id})}}"><img src="{{asset ('img/affiche/' ~ pro.image)}}" class="img-fluid rounded-start" alt="affiche {{pro.titre}}"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" id="card-pro-title"><a href="{{path ('app_produit', {'film':pro.id})}}" class="a-link-pro">{{pro.titre}}</a></h5>
                                <p class="card-text" id="card-pro-text">{{pro.date_sortie|date('d-m-Y')}}</p>
                                <p class="card-text">{{pro.prix_ttc}} €</p>
                                <p class="card-text">
                                    <img src="{{asset ('img/icon/logo-dvd.png')}}" alt="logo dvd" title="comme on est encore en 2005" style="width: 25px; height: 25px;">
                                    <a href="{{path ('add_product', {'id':pro.id})}}" style="margin-left: 8rem;"><img src="{{asset ('img/icon/cart-shopping-solid-black.svg')}}" alt="panier"></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(produit) }}
        </div>
    {% endif %}
{% endblock %}
