<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{asset ('css/style.css')}}">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav id="navbar-header" class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{path ('app_accueil')}}"><img src="{{asset ('img/icon/FIL-logo-white2.png')}}" id="logo-filmo" alt="logo filmo" style="width: 100px;"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{path ('app_produit')}}" style="color: white;">Film</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">Catégorie</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" id="" href="#">Genre</a></li>
                                        <li><a class="dropdown-item" href="#">Casting</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                            <form method="get" class="d-flex" role="search" action="{{path ('app_accueil')}}" style="margin-right: 75px;">
                                <input class="form-control me-2" type="search" placeholder="rechercher" aria-label="Search" name="search-bar" style="width: 420px;">
                                <button class="btn" type="submit"><img src="{{asset ('img/icon/magnifying-glass-solid.svg')}}" alt="bouton rechercher"></button>
                            </form>
                        </div>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#"><img src="{{asset ('img/icon/cart-shopping-solid.svg')}}" class="nav-link-icon" alt="panier"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#"><img src="{{asset ('img/icon/envelope-solid.svg')}}" alt="contact" style="width: 18px;"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#"><img src="{{asset ('img/icon/user-solid-white.svg')}}" alt="profil" style="width: 18px; height: 18px;"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#"><img src="{{asset ('img/icon/right-to-bracket-solid.svg')}}" alt="déconnexion" style="width: 18px;"></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <div id="navbar-footer" class="container-fluid">
                <div class="d-flex justify-content-center justify-content-evenly">
                    <a href="#"><img src="{{asset ('img/icon/facebook.svg')}}" alt="facebook"></a>
                    <a href="#"><img src="{{asset ('img/icon/instagram.svg')}}" alt="instagram"></a>
                    <a href="#"><img src="{{asset ('img/icon/twitter.svg')}}" alt="twitter"></a>
                    <a href="https://github.com/gotied"><img src="{{asset ('img/icon/github.svg')}}" alt="github"></a>
                </div>
                <div class="d-flex justify-content-center" id="div-2-footer" style="margin-top: 25px; margin-right: 40px;">
                    <a class="a-link-footer mx-5" href="{{path ('app_accueil', {'pdc':'pdc'})}}">Politique de confidentialité</a>
                    <a class="a-link-footer mx-5" href="{{path ('app_accueil', {'ml':'ml'})}}">Mentions légales</a>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
